body {
  background: #fceabb;
}
h1,p{
  font-size:26px;
  font-family: 'Nanum Pen Script', cursive;  
}
img{
  width:50%;
}
#main,#mainNext,#mainSecond,#gaming,#result,#showResult{
  background-color:whitesmoke;
  width:80%;  
  text-align: center;
  border-radius: 20px;      
}


#mainFirst,#mainSecond, #mainNext,#gaming,#result,#showResult{
   display: none; 
   
}   
.gamingBox .gamingBoxInner{  
  font-size: 150px;
  font-weight: 800;  
  
}
.gamingBox .answerContainer{  
  display: grid;
  gap:1rem;
  grid-template-columns: repeat(5,1fr);  
  opacity: 1;
}
.gamingBox .answerContainer.lv2{
  grid-template-columns: repeat(8,1fr);
}
.gamingBox .answerContainer.lv5{
  grid-template-columns: repeat(8,1fr);
}
.gamingBox .answerContainer .answerNumber{
  background-color:#fceabb;
  font-family: 'Nanum Pen Script', cursive;  
  border: 1px solid white;
  height:125px;  
  font-size: 20px;
}
.gamingBox .answerContainer .answerNumber .answerInput{
  font-family: 'Nanum Pen Script', cursive;    
  border-top: 1px solid white;
  height:80px;
  font-size: 20px;
  
}
.gamingBox .answerContainer .answerNumber .answerInput p{
  cursor: pointer;
}
.gamingBox .answerContainer .answerNumber .answerInput p:active{
  background-color:tomato;
}
.gamingBox .answerContainer .answerNumber .answerInput p.answered{
  background-color:tomato;
}
.gamingBox .answerContainer .answerNumber .answerInput p:nth-child(1){
  padding-top:6px;
  margin-bottom: 0;
  border-bottom: 1px solid white;
}
.gamingBox .answerContainer .answerNumber .answerInput p:nth-child(2){
  margin:0px;
  border-top: 1px soild white;
  
  
}
.gamingBox .answerContainer .answerBox{
  background-color:pink;
  height:80px;
  width:80px;  
}
#showResult{
  position: relative;
}
#showResult .resultname > h1{
  margin-bottom:20px;
}
#showResult .resultname .resultContainer{  
  display: grid;
  gap:2;
  grid-template-columns: repeat(5,1fr);
  background-color:rgba(255,200,0,.5);
  margin-bottom:40px;
}

#showResult .resultname .resultContainer .resultNumber{
  font-family: 'Nanum Pen Script', cursive;  
  border: 1px solid white;
  height:125px;  
  font-size: 20px;
  
}

#showResult .resultname .resultContainer .resultNumber .resultAnswer{
  font-family: initial;
  border-top: 1px solid white;
  height:50%;
  font-size: 40px;
  margin-top:10px
}
#showResult .resultname .resultContainerP{  
  display: grid;
  gap:2;
  grid-template-columns: repeat(5,1fr);
  background-color:rgba(255,200,0,.5);
  margin-bottom:40px;
}
#showResult .resultname .resultContainerCopy .resultPoint{
  font-family: 'Nanum Pen Script', cursive; 
  font-size:22px;
}

#showResult .resultname .resultContainerP .resultNumberP{
  font-family: 'Nanum Pen Script', cursive;  
  border: 1px solid white;
  height:125px;  
  font-size: 20px;
  
}

#showResult .resultname .resultContainerP .resultNumberP .resultAnswerP{
  font-family: initial;
  border-top: 1px solid white;
  height:50%;
  font-size: 40px;
  margin-top:10px
}






/* Animtaion */


@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeOut {
  from {opacity:1;}
  to {opacity: 0;}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@-webkit-keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}

@keyframes sparkle {
  
}

.fadeIn {
  animation:fadeIn;
  animation-duration: 0.5s;
}
.fadeOut {
  animation: fadeOut;
  animation-duration: 0.5s;
}
